@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}
/* Testing GitLab */
.row {
  display: flex;
  width: 100%;
}